[Unit]
Description=Bridge Scarlett input ch3 (AUX2) to snd-aloop for measurement loopback ref
After=pipewire.service wireplumber.service
Requires=pipewire.service wireplumber.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/loopback-ref-link.sh up
ExecStop=/usr/local/sbin/loopback-ref-link.sh down

[Install]
WantedBy=default.target
